body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.bg-img {
  position: absolute;
  width: 375px;
  height: 667px;
  background-image: url('./images/bg-mobile.svg');
  background-repeat: no-repeat;
  z-index: -1;
}
.header {
  width: 87%;
  height: 30%;
  background-color: hsl(228, 56%, 26%);
  margin-top: 126px;
  border-radius: 10px 100px 10px 10px;
}
.logo {
  margin: 40px 42px 0;
}
.logo img {
  width: 135px;
  height: 40px;
}
.icon-container {
  display: flex;
  margin-top: 30px;
  margin-left: 41px;
}
.icon-bg {
  width: 48.5px;
  height: 48.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(229, 57%, 11%);
  margin-right: 16px;
  border-radius: 10px;
}
.usage {
  width: 87%;
  height: 24%;
  display: flex;
  font-size: 1rem;
  background-color: hsl(228, 56%, 26%);
  margin-top: 17px;
  border-radius: 10px;
}
.usage-container {
  position: relative;
  width: 100%;
  font-size: 0.9rem;
  color: hsl(243, 100%, 93%);
  margin: 32px 32px;
}
.usage-container .message {
  width: 100%;
  font-size: 0.896rem;
  text-align: center;
}
.usage-container .message span {
  font-weight: 700;
}
.usage .bar {
  content: '';
  position: absolute;
  top: 33px;
  width: 264px;
  height: 20px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}
.usage .bar::before {
  content: '';
  position: absolute;
  right: 270px;
  width: 74%;
  height: 13.8px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  margin-top: 3px;
  border-radius: 20px;
  z-index: 2;
  /* animation: pinkSlide 0.3s ease-in 0.18s forwards; */
}
@keyframes pinkSlide {
  to {
    transform: translateX(205px);
  }
}
.usage .bar::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 3;
  /* animation: dotSlide 0.3s ease-in 0.2s forwards; */
}
@keyframes dotSlide {
  to {
    transform: translateX(181px)
  }
}
.gb {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 45px;
}
.gbleft-container {
  position: relative;
  width: 250px;
  height: 21px;
  display: flex;
  justify-content: center;
}
.gbleft {
  position: absolute;
  top: 16px;
  left: 43px;
  width: 178px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: lightgray;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 10px;
}
.gbleft span {
  color: #333;
  font-size: 2.6rem;
  font-weight: 700;
}
@media screen and (min-width: 1440px) {
  .main {
    position: relative;
    width: 1440px;
    height: 922px;
    flex-direction: row;
    justify-content: center;
  }
  .bg-img {
    width: 100%;
    height: 100%;
    background-color: hsl(229, 57%, 11%);
    background-image: url('./images/bg-desktop.svg');
    background-size: contain;
    background-position: center bottom;

  }
  .header {
    position: relative;
    width: 350px;
    height: 200px;
    right: 15px;
    margin-bottom: 26px;
  }
  .usage {
    position: relative;
    left: 15px;
    top: 65px;
    width: 541px;
    height: 150px;
  }
  .usage-container {
    margin: 38px 39px;
  }
  .usage-container .message {
    font-size: 0.896rem;
    text-align: left;
  }
  .gb {
    margin-top: 43px;
  }
  .gbleft-container {
    display: absolute;
  }
  .gbleft {
    top: -160px;
    left: 283px;
  }
  .gbleft-triangle {
    position: absolute;
    left: 427px;
    bottom: 107px;
    width: 34px;
    height: 45px;
    background-color: #fff;
    transform: skew(0deg, 46deg);
  }
  .usage .bar {
    width: 100%;
  }
  .usage .bar::before {
    width: 73%;
    right: 119px;
    transform: translateX(-344px);
    animation: widePinkSlide 0.35s ease-in-out 0.2s forwards;
  }
  @keyframes widePinkSlide {
    to {
      transform: translateX(0);
    }
  }
  .usage .bar::after {
    left: 332px;
    transform: translateX(-344px);
    animation: wideDotSlide 0.35s ease-in-out 0.2s forwards;
  }
  @keyframes wideDotSlide {
    to {
      transform: translateX(0);
    }
  }
}
