.mobile {
  position: relative;
  display: inline-block;
}
.desktop {
  position: absolute;
  display: none;
}
body {
  background-origin: border-box;
  margin: 0;
  font-family: 'DM Serif Display', serif;
  font-family: 'Karla', sans-serif;
}
header,
section,
main {
  width: 375px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.hero-title,
.work-title,
footer>.logo {
  position: relative;
  z-index: 4;
}
header {
  height: 80px;
}
header .logo {
  margin: 31px 24px;
}
.header-menu {
  position: absolute;
  display: none;
}
header .hamburger {
  margin: 24px 24px;
}

main {
  height: 951px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: hsl(0, 0%, 98%);
}
main::before {
  content: '';
  height: 451px;
  display: inline-block;
  background-image: url('./images/image-intro-mobile.jpg');
}

.hero-content {
  width: 100%;
  height: 500px;
  background-color: hsl(256, 26%, 20%);
  font-family: 'Karla';
}
.hero-content::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 167px;
  height: 167px;
  background-image: url('./images/bg-pattern-intro-left-mobile.svg');
  background-color: hsla(256, 26%, 20%, 0);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-188px, -1px);
  z-index: 0;
}
.hero-content::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 124px;
  height: 331px;
  background-image: url('./images/bg-pattern-intro-right-mobile.svg');
  background-color: hsla(256, 26%, 20%, 0);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate( 64px, -91px);
  z-index: 0;
}
.hero-title {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 47px;
  margin: 93.2px 20px 0;
  line-height: 48px;
}
.hero-desc {
  font-size: 16px;
  margin: 17.2px 24px 0;
  line-height: 26px;
}
.hero-content img:nth-child(1) {
  position: absolute;
  transform: translate(-187px, 0px);
}
.hero-content img:nth-child(4) {
  position: absolute;
  transform: translate(64px, -91px);
}
.hero-button div,
.header-menu-button div {
  width: 143px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 31px auto;
  background-color: hsl(256, 26%, 20%);
  border: 1.5px solid hsl(0, 0%, 98%);
  font-size: 16px;
  text-transform: uppercase;
}

.different {
  font-family: 'DM Serif Display', serif;
}
.diff-bar {
  width: 150px;
  height: 1px;
  background-color: hsl(256, 26%, 20%);
  margin: 140px auto 0;
}
.diff-header {
  text-align: center;
  font-size: 46.7px;
  margin: 32.4px auto 53px;
}
.diff-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 306px;
  text-align: center;
}
.diff-image img {
  margin-top: 19px;
}
.diff-title {
  margin-top: 29px;
  font-size: 27px;
}
.diff-desc {
  width: 323px;
  font-family: 'Karla', non-serif;
  font-size: 15.9px;
  line-height: 27px;
  margin-top: 13px;
}

.how-we-work {
  display: flex;
  height: 587px;
  justify-content: center;
  /* width: 100%; */
  color: hsl(0, 0%, 98%);
}
.how-we-work img {
  position: absolute;
  transform: translateX(76px);
}
.work-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 327px;
  height: 344px;
  background-color: hsl(256, 26%, 20%);
  text-align: center;
  margin-top: 103px;
}
.work-content::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 174px;
  height: 318px;
  background-image: url('./images/bg-pattern-how-we-work-mobile.svg');
  background-color: hsla(256, 26%, 20%, 0);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateX(74px);
  z-index: 0;
}
.work-title {
  width: 90%;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 40px;
  margin: 73px 0 9px;
}
.work-button div {
  width: 157px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 31px auto;
  background-color: hsl(256, 26%, 20%);
  border: 1px solid hsl(0, 0%, 98%);
  font-family: 'Karla';
  font-size: 16px;
  text-transform: uppercase;
}

footer {
  position: relative;
  width: 375px;
  height: 1025px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: hsl(0, 0%, 98%);
}
footer>img{
  position: absolute;
}
footer .logo {
  margin-top: 88px;
  text-align: center;
}
.footer-header::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 202px;
  left: 27px;
  width: 322px;
  height: 0.5px;
  background-color: hsl(273, 4%, 51%);
}
footer .logo::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 375px;
  height: 172px;
  background-image: url('./images/bg-pattern-footer-mobile.svg');
  background-color: hsla(256, 26%, 20%, 0);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-132px, -87px);
  z-index: 0;
}
.footer-square-container {
  margin-top: 77px;
}
.social-media {
  margin-top: 27px;
}
.social-media>img {
  margin: 0 6px;
}
.footer-bar {
  width: 325px;
  height: 0.5px;
  background-color: hsl(216, 30%, 68%);
  margin: 37px 0 39px;
}
.footer-square {
  width: 100%;
  height: 199px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  color: hsl(216, 30%, 68%);
}
.footer-square:nth-child(3),
.footer-square:nth-child(4) {
  height: 169px;
}
.footer-title {
  margin-bottom: 34px;
  font-weight: 700;
  letter-spacing: 1px;
}
.footer-item {
  margin-bottom: 14px;
  letter-spacing: 0.9px;
  color: black;
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .mobile {
    position: absolute;
    display: none;
  }
  .desktop {
    position: relative;
    display: inline-block;
  }
  header,
  main,
  section,
  footer {
    width: 1440px;
  }
  header {
    position: relative;
    height: 80px;
    background-color: #fff;
    z-index: 2;
  }
  header .logo {
    margin: 31px 168px;
  }
  .header-menu {
    position: relative;
    display: flex;
    width: 613px;
    font-family: 'Karla';
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-top: 32px;
  }
  .header-menu-item:nth-of-type(1n+2) {
    margin-left: 25px;
  }
  .header-menu-button {
    position: relative;
    left: 32px;
    bottom: 11.5px;
  }
  .header-menu-button div {
    background-color: #fff;
    border: 1px solid black;
    margin: 0;
  }
  .hamburger {
    position: absolute;
    display: none;
  }

  main {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
  }
  main::before {
    position: absolute;
    display: none;
  }
  .hero-content {
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .hero-content::before {
    content: '';
    position: absolute;
    top: -79px;
    right: -189px;
    width: 438px;
    height: 595px;
    display: inline-block;
    background-image: url('./images/bg-pattern-intro-right-desktop.svg');
    background-color: hsla(256, 26%, 20%, 0);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .hero-content::after {
    content: '';
    position: absolute;
    bottom: -272px;
    left: -63px;
    width: 195px;
    height: 351px;
    display: inline-block;
    background-image: url('./images/bg-pattern-intro-left-desktop.svg');
    background-color: hsla(256, 26%, 20%, 0);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
  .hero-title {
    width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 70px;
    line-height: 65px;
    margin: 167px 0 0 166px;
  }
  .hero-title::before {
    content: '';
    display: inline-block;
    width: 150px;
    height: 1px;
    background-color: #fff;
    transform: translate(-1px, -62px);
  }
  .hero-desc {
    width: 537px;
    margin: 27.4px 0 0 165.8px;
  }
  .hero-button {
    margin: -1px 0 0 166px;
  }
  .hero-button::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 105px;
    right: 162px;
    height: 649px;
    width: 543px;
    background-image: url('./images/image-intro-desktop.jpg');
    background-repeat: no-repeat;
  }

  .different {
    flex-direction: column;
    align-items: flex-start;
    margin: 306px auto 0;
  }
  .diff-bar {
    margin: 0;
  }
  .diff-header {
    margin: 45.6px 0 0 0;
    position: relative;
    width: 1110px;
    height: 100px;
    font-size: 70px;
    text-align: left;
  }
  .diff-square-container {
    display: flex;
    margin-top: 58px;
  }
  .diff-square {
    align-items: flex-start;
    width: 380px;
  }
  .diff-square:nth-of-type(1n+2) {
    margin-left: 30px;
  }
  .diff-desc {
    width: 350px;
    text-align: left;
  }

  .how-we-work {
    height: 518px;
  }
  .work-content {
    position: relative;
    width: 1110px;
    height: 250px;
    margin-top: 121px;
    flex-direction: row;
    text-align: left;
  }
  .work-content::after {
    left: 605px;
    width: 430px;
    height: 246px;
    background-image: url('./images/bg-pattern-how-we-work-desktop.svg')
  }
  .work-title {
    width: 43%;
    margin: 0 0 0 79px;
    font-size: 58px;
    letter-spacing: -1.9px;
    line-height: 56px;
  }
  .work-button {
    position: relative;
    left: 313px;
  }
  footer {
    height: 396px;
    text-align: left;
  }
  .footer-header {
    width: 100%;
    height: 187px;
    display: flex;
    justify-content: space-between;
  }
  footer .logo {
    margin: 70px 0 0 165px;
  }
  footer .logo::before {
    background-image: url('./images/bg-pattern-footer-desktop.svg');
    width: 494px;
    height: 226px;
    top: 88px;
    left: 130px;
  }
  .social-media {
    margin: 67px 160px 0 0;
  }
  .footer-header::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 124px;
    left: 169px;
    width: 1107px;
    height: 0.5px;
    background-color: gray;
  }
  .footer-square-container {
    width: 100%;
    height: 240px;
    display: flex;
    margin-top: 0;
  }
  .footer-square {
    width: 121px;
    align-items: flex-start;
    margin-left: 164px;
  }
}
